Frameworks/BLE/BLE.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/BLE.xcscheme
Frameworks/BLE/BLE.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/xcschememanagement.plist
Frameworks/Firmata/Firmata.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/Firmata.xcscheme
Frameworks/Firmata/Firmata.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/xcschememanagement.plist
Frameworks/libpd/libpd.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/libpd-ios.xcscheme
Frameworks/libpd/libpd.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/libpd-osx.xcscheme
Frameworks/libpd/libpd.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/xcschememanagement.plist
TangoHapps.xcodeproj/project.xcworkspace/xcuserdata/beckmann.xcuserdatad/UserInterfaceState.xcuserstate
TangoHapps.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/TangoHapps.xcscheme
TangoHapps.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/TangoHappsClient.xcscheme
TangoHapps.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/TangoHappsTests.xcscheme
TangoHapps.xcodeproj/xcuserdata/beckmann.xcuserdatad/xcschemes/xcschememanagement.plist
