<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TangoHappsClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>253DEC4A19F0184500318D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25B05DAB19FA95C00019E431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A351188167B7A6800C7484B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB291C619FA895100AF757C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC6488719FA8AFE008E5E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC648CF19FA8CE2008E5E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC648DF19FA8D00008E5E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF505A3167B90780020241C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF5FFF0167B82F70020241C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
